html, body, .App, #root {
  
  height: 100%;
}

#root {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.bigger-font * {
	font-size: 16px !important;
}